@model IEnumerable<DomainModel.Packet>
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Packet list</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <a asp-action="Reserved" asp-controller="Packet">Reserved Packets</a>
        <a asp-action="List" asp-controller="Packet">All Packets</a>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Name</th><th>id</th><th>ReservedBy</th></tr>
            </thead>
            <tbody>
                @foreach (DomainModel.Packet r in Model!) {
                    <tr>
                        <td>@r.name</td>
                        <td>@r.id</td>
                        @if(r.reservedBy == null) {
                            <td>Not reserved</td>
                        } else {
                            <td>@r.reservedBy</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>