@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-0 m-0">
    <img class="fullscreen" alt="home screen image" src="https://vmn-vmt.imgix.net/uploads/2023/02/boodschappen-prijsstijgingen-scaled.jpg?auto=compress%2Cformat&q=50">
</div>